
<div class="profile-container">
  <img class="profile-image" src="https://png.pngtree.com/png-vector/20191110/ourmid/pngtree-avatar-icon-profile-icon-member-login-vector-isolated-png-image_1978396.jpg" alt="User Image">
  <div class="profile-details">
    <p><strong>First Name:</strong> {{profile?.givenName}}</p>
    <p><strong>Last Name:</strong> {{profile?.surname}}</p>
    <p><strong>Email:</strong> {{profile?.userPrincipalName}}</p>
    <p><strong>ID:</strong> {{profile?.id}}</p>
  </div>
</div>
